#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /caf-rating/web/assets/$1 [L]
RewriteRule ^css/(.*)$ caf-rating/web/css/$1 [L]
RewriteRule ^js/(.*)$ caf-rating/web/js/$1 [L]
RewriteRule ^images/(.*)$ caf-rating/web/images/$1 [L]
RewriteRule ^image/(.*)$ caf-rating/web/image/$1 [L]
RewriteRule ^img/(.*)$ caf-rating/web/img/$1 [L]
RewriteRule ^fonts/(.*)$ caf-rating/web/fonts/$1 [L]
RewriteRule (.*) /caf-rating/web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /caf-rating/web/index.php
